{% extends "base.html" %}
 
{% block title %} Index {% endblock %}
 
{% block content %}
 
  <h1>Index</h1>
 
  {% for post in object_list %}
    <article class="post">
      <header>
        <h2>{{ post.title }}</h2>
      </header>
      <section>
        {{ post.excerpt }}
      </section>
      <aside>
        <p class="label label-info">
          Published on
          <time>{{ post.publication_date|date:"r" }}</time>
        </p>
        <!-- Here will be commentaries -->
      </aside>
    </article>
  {% endfor %}
 
{% endblock %}